# Pacific-Farallon Stage Rotations to Full Rotations
## (Reproducing Results of Rowan and Rowley 2014)

[Rowan and Rowley 2014](https://doi.org/10.1093/gji/ggu056),full Pacific-Farallon rotation poles from 83-28 Ma were estimated using the record of spreading on the still-unsubducted Pacific half of the system. The "half" stage rotations estimated from the Pacific magnetic anomaly record were combined with estimates of spreading asymmetry.

In [1]:
%matplotlib inline
import EulerRots as rotkit
# in order to work correctly, you need to have compiled the fortran routines Rotkit_f for your machine

rotmodel=rotkit.EulerRotationModel(rotkit.load_rotsets('./Datafiles/GlobalRots.txt'))
stagerots=rotkit.load_stagerots('./Examples/RR_14_StageRots.txt')
stagerots.summary()

   MovingPlate  FixedPlate  StartAge  EndAge   RotLat   RotLong   RotAng
0          901         902     33.06   28.28  78.6484  104.3035  3.30690
1          901         902     40.13   33.06  64.1441   67.5902  4.26806
2          901         902     43.79   40.13  73.0263   81.0490  2.11536
3          901         902     53.35   43.79  61.3272   64.8469  5.00122
4          901         902     64.75   53.35  64.5980   64.0890  4.04000
5          901         902     73.62   64.75  64.8520   60.6590  3.14400
6          901         902     83.00   73.62  50.3620   40.7850  3.86000

In [4]:
rotmodel.get_rots(901,911,[28.28]).summary()

   MovingPlate  FixedPlate  StartAge  EndAge     RotLat     RotLong     RotAng
0          901         911       0.0    0.00  75.272355  257.062327   0.000000
1          901         911       0.0   28.28  75.272355  257.062327  38.445431